<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="sec">
    <classes>
      <class name="cicdtestpakage.newT"/>
      <class name="cicdtestpakage.NewTest"/>
    </classes>
  </test> <!-- sec -->
</suite> <!-- Suite -->
